{% extends "layaout2.html" %} {% block main %}

<div class="bg-white border border-gray-200 rounded-lg shadow-sm">
    <!-- Contenido de cada tab -->
    <div class="mt-4">
        <div class="max-w-7xl mx-auto space-y-2">

            <div id="tab1" class="tab-content">

                <!-- Información del Cliente -->
                <section>
                    <h2 class="text-xl font-semibold text-blue-900 mb-4 border-b border-gray-300 pb-2  pt-5"><i
                            class="fa fa-user"></i> Información del Cliente</h2>
                    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
                        <p><span class="font-bold">Nombre:</span> {{datos.Realname}}</p>
                        <p><span class="font-bold">Cédula:</span> {{datos.cedula}}</p>
                        <p><span class="font-bold">Teléfono:</span> {{datos.ContactphoneNo}}</p>
                        <p><span class="font-bold">Dirección:</span> {{datos.direccion  }}</p>
                        <p><span class="font-bold">Departamento:</span> {{datos.departamento}}</p>
                        <p><span class="font-bold">Distrito:</span> Centro</p>
                    </div>
                </section>

                <!-- Referido -->
                <section>
                    <h2 class="text-xl font-semibold text-blue-900 mb-4 border-b border-gray-300 pb-2 pt-5"><i
                            class="fa fa-users"></i> Referido</h2>
                    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
                        <p><span class="font-bold">Número de referido:</span> {{datos.numero_referido}}</p>
                        <p><span class="font-bold">Canal de venta:</span> {{datos.nombre_canal_ventas}}</p>
                        <p><span class="font-bold">Nombre referido:</span> Jarlendis Carolina Sobalvarro Orozco</p>
                    </div>
                </section>

                <!-- Producto -->
                <section>
                    <h2 class="text-xl font-semibold text-blue-900 mb-4 border-b border-gray-300 pb-2 pt-5"><i
                            class="fa fa-boxes-packing"></i> Producto</h2>
                    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
                        <p class="col-span-full"><span class="font-bold">Paquete:</span> {{datos.paquete}}</p>
                        <p><span class="font-bold">Código OA:</span> {{datos.Codigo_OA}}</p>
                        <p><span class="font-bold">Tipo de cliente:</span> {{datos.tipo_cliente}}</p>
                        <p><span class="font-bold">Línea:</span> {{datos.numero}}</p>
                        <p><span class="font-bold">Fecha de renovación:</span> {{datos.fecha_renovacion}}</p>
                        <p><span class="font-bold">Fecha de suscripción:</span> {{datos.fecha_suscripcion}}</p>
                        <p><span class="font-bold">Ancho de banda:</span> {{datos.AnchoBanda}}</p>
                        <p><span class="font-bold">Ciclo:</span> {{datos.ciclo}}</p>
                        <p><span class="font-bold">Precio:</span> ${{datos.precio}}</p>
                        <p><span class="font-bold">Próxima fecha de pago:</span> {{datos.Proximo_Pago}}</p>
                        <p><span class="font-bold">Vigencia:</span> {{datos.vigencia}}</p>
                        <p><span class="font-bold">Distancia (mts):</span> {{datos.distancia}}</p>
                    </div>
                </section>

                <!-- Cobranza -->
                <section>
                    <h2 class="text-xl font-semibold text-blue-900 mb-4 border-b border-gray-300 pb-2 pt-5"><i
                            class="fa fa-coins"></i> Información de Cobranza</h2>
                    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
                        <p><span class="font-bold">Suma de recargas:</span> ${{datos.suma_recargas}}</p>
                        <p><span class="font-bold">Recarga por ajuste:</span> ${{datos.recarga_ajuste}}</p>
                        <p><span class="font-bold">Recarga mes anterior:</span> ${{llamadas[0].recarga_mes_actual}}</p>
                        <p><span class="font-bold">Recarga mes actual:</span> ${{llamadas[0].recarga_mes_anterior}}</p>
                        <p><span class="font-bold">Deuda en ICRM:</span> ${{datos.deuda_icrm}}</p>
                        <p><span class="font-bold">Fecha de última recarga:</span> {{llamadas[0].FUR}}</p>
                        <p><span class="font-bold">Días en mora:</span> {{datos.diasMora}}</p>
                        <p><span class="font-bold">Estado del contrato:</span> {{datos.estatus_contrato}}</p>
                        <p><span class="font-bold">Antigüedad (meses):</span> {{datos.antiguedad_meses}}</p>
                        <p><span class="font-bold">Deuda por subsidio:</span> ${{datos.subsidio}}</p>
                        <p><span class="font-bold">Acción:</span> {{datos.Accion}}</p>
                        <p><span class="font-bold">Estado Orion:</span> {{llamadas[0].estatus_orion}}</p>
                        <p><span class="font-bold">Reclamos:</span> {{datos.NoReclamos}}</p>
                    </div>
                </section>

            </div>


            <div id="tab2" class="tab-content hidden">

                <ol class="relative border-s border-gray-200">
                    {% for llamada in llamadas %}
                    <li class="mb-10 ms-6">
                        <span
                            class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white">
                            <i class="fa fa-phone text-blue-900 text-xs"></i>
                        </span>
                        <h3 class="flex items-center mb-1 text-lg font-bold text-gray-900">
                           {{llamada.estado_llamada}}
                        </h3>
                        <time
                            class="block mb-2 text-sm font-normal leading-none text-gray-400">Realizada
                            el:
                            {{llamada.fecha_registro}}</time>
                        <time
                            class="block mb-2 text-sm font-normal leading-none text-gray-400">Fecha
                            programada para la proxima llamada: {{llamada.fecha_llamada}}
                        </time>
                        <h4 class="flex items-center mb-1 font-semibold text-gray-900">Comentario:</h4>
                        <p class="mb-4 text-base font-normal text-gray-500">{{llamada.Comentarios}}
                        </p>
                        <div class="flex justify-end"> <!-- Alinea el realizada por a la derecha -->
                            <span class="text-sm text-gray-500 italic">Realizada por: {{llamada.usuario}}</span>
                        </div>
                    </li>
                    {% endfor %}
                </ol>

            </div>
            <div id="tab3" class="tab-content hidden">como</div>
            <div id="tab4" class="tab-content hidden">estas</div>
        </div>
    </div>

    <div class="w-full mt-10">
        <div class="grid max-w-xs grid-cols-3 gap-1 p-1 mx-auto my-2 bg-gray-100 rounded-lg"
            role="group">
            <button data-tab="tab1"
                class="tab-btn px-5 py-1.5 text-xs font-medium text-white bg-blue-900 rounded-lg">
                Cl
            </button>
            <button data-tab="tab2"
                class="tab-btn px-5 py-1.5 text-xs font-medium text-white bg-blue-900 rounded-lg">
                3
            </button>
            <button data-tab="tab3"
                class="tab-btn px-5 py-1.5 text-xs font-medium text-white bg-blue-900 rounded-lg">
                2
            </button>
        </div>
    </div>
</div>
</div>

{% endblock %}